@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* Fonts */

  /* Be Vietnam */
  @font-face {
    font-family: "Be vietnam";
    src: url("/fonts/BeVietnam-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: "Be vietnam";
    src: url("/fonts/BeVietnam-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: "Be vietnam";
    src: url("/fonts/BeVietnam-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
  }
  @font-face {
    font-family: "Be vietnam";
    src: url("/fonts/BeVietnam-ExtraBold.woff2") format("woff2");
    font-weight: 800;
    font-style: normal;
  }


  /* Fivo sans modern */
  @font-face {
    font-family: "Fivo sans modern";
    src: url("/fonts/FivoSansModern-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: "Fivo sans modern";
    src: url("/fonts/FivoSansModern-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: "Fivo sans modern";
    src: url("/fonts/FivoSansModern-ExtraBlack.woff2") format("woff2");
    font-weight: 1000;
    font-style: normal;
  }

  /* html */
  @media (min-width: 1600px) {
    html {
      font-size: 18px;
    }
  }
  @media (min-width: 1800px) {
    html {
      font-size: 20px;
    }
  }
  @media (min-width: 2000px) {
    html {
      font-size: 22px;
    }
  }
  @media (min-width: 2200px) {
    html {
      font-size: 24px;
    }
  }
  @media (min-width: 2400px) {
    html {
      font-size: 26px;
    }
  }

  /*
  paadding for sections */
  .section--default {
    position: static;
    padding-top: 8.33333333vw;
    padding-bottom: 8.33333333vw;
  }

  .heading--1 {
    font-size: 3rem;
    line-height: 1;
  }

  @media (min-width: 800px) {
    .section--default {
      padding-top: 4.16666667vw;
      padding-bottom: 4.16666667vw;
    }
    .heading--1 {
      font-size: 7.75rem;
      line-height: .91;
    }
  }

  .text--label {
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.11;
    text-transform: uppercase;
  }
  .heading {
      font-weight: 700!important;
      line-height: 1;
  }
  .heading--2  {
    font-size: 2.5rem;
    text-transform: none;
  }
  .heading--3 {
    margin-top:  3em;
    font-size: 1.25rem;
    line-height: 1.1;
    text-transform: none;
  }
  .paragraph {
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: -.025em;
    line-height: 1.62;
  }
  .will-change-transform {
    will-change: transform;
  }
  .logo-svg {
    fill-rule: evenodd;
  }
  .draggable-position {
    transform: translate(-60%, -70%);
  }
  .draggable-position2 {
    transform-origin: 50% 0%;
    transform: translate(-40%, -30%);
  }
  #hintspan {
    transform-origin: 50% 50%;
  }
  .asterisk {
    transform-origin: 50% 50%;
  }
}

@layer components {

}
