.container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #CF5338;
}

 .logo {
  width: 100px;
  height: 100px;
  fill: transparent;
  stroke-width: 2px;
}

.logo > path {
  border : 1px solid red;
  fill: transparent;
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  animation: dash 2.5s linear alternate infinite;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1;
  }
  to {
    stroke-dashoffset: 0;
  }
}
